# Introduction to Regresssion with Neural Networks in TensorFlow

There are many definitions for a regressioin problem but in our case, we're going to simplify it: predicting a numerical variable based on some other combination of variables, even shorter... predicting a number

In [ ]:
# Import tensorflow
import tensorflow as tf

tf.__version__

Creating a data to view and fit

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Create features
X = np.array([-7.0, -4.0, -1.0, 2.0, 5.0, 8.0, 11.0, 14.0])

# Create labels
y = np.array([3.0, 6.0, 9.0, 12.0, 15.0, 18.0, 21.0, 24.0])

#Visualize it
plt.scatter(X, y)

# Input and output shapes

In [ ]:
# Create a demo tesnor for our housing price prediction problem
house_info = tf.constant(['bedroom', 'bathroom', 'garage'])
house_price = tf.constant([939700])
house_info, house_price

In [ ]:
input_shape = X.shape
output_shape = y.shape
input_shape, output_shape

In [ ]:
# Turn out NumPy arrays into tensors
x = tf.constant(X)
y = tf.constant(y)
x, y

In [ ]:
input_shape = x[0].shape
output_shape = y[0].shape
input_shape, output_shape

In [ ]:
plt.scatter(x, y)

## Seteps in modelling with Tensor Flow
1. Creating a model - define the input and output layers, as well as the hidden layers of a dep learning model
2. Comiling a model - define the loss function (in other words, the function which tells our model how wrong it is ) and the optimizer (tells our model how to impore the patterns its learning) and evaluatinon metrics (what we can use to interpret the performance of out model).
3. fitting a model - letting the model try to find patterns between x and y (features and labels).

In [ ]:
tf.random.set_seed(42)

# 1. Create a model using the Sequential API
model = tf.keras.Sequential([
    tf.keras.layers.Dense(1)
])

# 2. Compile the model
model.compile(loss=tf.keras.losses.mae,
              optimizer=tf.keras.optimizers.SGD(),
              metrics=["mae"]
              )

# 3. Fit the model
model.fit(tf.expand_dims(x, axis=-1), y, epochs=5)

In [ ]:
# Check out x and y
x, y

In [ ]:
# Try and make a prediction 
y_pred = model.predict([17.0])
y_pred

# Improving our model
1. Creating a model - increase the number of hidden unitts, within each of hiden layers, change the activatioin function of each layer
2. Compiling a model  - optimization function or perhaps the learning rate of the optimization function
3. Fiting a model - more epochs or on more data

we can imporve our model, by altering the steps we took to create a model

In [ ]:
# Lets rebuild our model

# 1. Create a model
model = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(1)
    ]
)

# 2. Compile our model
model.compile(
    optimizer="SGD",
    loss="mae",
    metrics=["mae"]
)

# 3. Fiting a modell
model.fit(tf.expand_dims(x, axis=-1), y, epochs=100)

In [ ]:
x, y

In [ ]:
y_pred = model.predict([17.0])
y_pred

## Trying out by myself

In [ ]:
try_model = tf.keras.Sequential([
    tf.keras.layers.Dense(100, activation="relu"),
    tf.keras.layers.Dense(100, activation="relu"),
    tf.keras.layers.Dense(100, activation="relu"),
    tf.keras.layers.Dense(1)
])

try_model.compile(
    optimizer=tf.keras.optimizers.Adam(lr=0.001),
    loss="mae",
    metrics=["mae"]
)

try_model.fit(tf.expand_dims(x, axis=-1), y, epochs=150)

In [ ]:
x, y

In [ ]:
try_model.predict([17.0])

## Leta try from daniel point of view

In [ ]:
model = tf.keras.Sequential([
    # tf.keras.layers.Dense(100, activation="relu"),
    tf.keras.layers.Dense(100, activation=None),
    tf.keras.layers.Dense(1)
])

model.compile(
    loss="mae",
    optimizer=tf.keras.optimizers.Adam(lr=0.1),
    metrics=['mae']
)

model.fit(tf.expand_dims(x, axis=-1), y, epochs=100)

In [ ]:
tf.expand_dims(x, axis=-1), x, y

In [ ]:
model.predict([17.0])

#Evaluting a Model

In practice, atypical workflow you'll go through when building newural networks is:

Build a model -> fit it -> evaluate it -> tweak a model -> fit it -> evaluate it -> tweak a model -> fit it ->evaluate it .....

# When it comes to evaluation... you should visualize

Its a good idea to visualize
The data - what data are we working with? What dows it look like?

In [ ]:
# Make a bigger dataset
X = tf.range(-100, 100, 4)

# Make label for the dataset
Y = X + 10

X, Y

In [ ]:
#Lets visualize the data
plt.scatter(X, Y)

In [ ]:
X[:80], Y[:20]

## The 3 set 

1. Training set - 70-80% of total data you have available.
2. Validation set - 10-15% data
3. Test set - 10-15% of tatal data available

In [ ]:
# Check the lenth of how many samples we have
len(X)

x_train = X[:int(abs(len(X)/100*80))]
y_train = Y[:int(abs(len(Y)/100*80))]

x_test = X[40:]
y_test = Y[40:]

len(x_train), len(x_test)

### Visualing the data

Now we've got our data in training and test sets... let's visualize it again!

In [ ]:
plt.figure(figsize=(10, 7))

#Plot training data in blue
plt.scatter(x_train, y_train, c='b', label='Training data')

# Plot test data in green
plt.scatter(x_test, y_test, c='g', label='Testing Data')
plt.legend()

plt.show()

In [ ]:
# Lets have a look at how to build the neural network

# 1. Create a model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(1)
])

# 2. Compile the model
model.compile(
    loss=tf.keras.losses.mae,
    optimizer=tf.keras.optimizers.SGD(),
    metrics=['mae']
)

# 3. Fit the model
# model.fit(x_train, y_train, epochs=100)

## Visualizing the model

In [ ]:
# model.summary() ## this model is not yet build

# model.build()
X[0], Y[0]

In [ ]:
# Lets create a model which automatically by defining the input_shape argument
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(100, input_shape=[1], name='input_layer'),
    tf.keras.layers.Dense(100, activation=None, name='hiddin_layer'),
    tf.keras.layers.Dense(1, name='output_layer')
], name='model_1')

model.compile(
    loss=tf.keras.losses.mae,
    optimizer=tf.keras.optimizers.Adam(lr=0.1),
    metrics=['mae']
)

In [ ]:
model.summary()

* Total params - total number of parameters in the model.
* Trainable params - parameters (patterns) the model can update as it trains.
* Non-trainable params - parameters aren't updated during training (this is typical whwn you bring in already learn patterns or parameters from other models during ** transfer learning **).

In [ ]:
model.fit(x_train, y_train, epochs=100, verbose=0)

In [ ]:
from tensorflow.keras.utils import plot_model

plot_model(model=model, show_shapes=True)

## Visualizing  our model's prediction

to visualize prediction, it's a good idea to plot them against the ground truth labels.

Often youll see this in the form of y_test or y_true versus y_pred.

In [ ]:
# Make some prediction
y_pred = model.predict(x_test)
y_pred

In [ ]:
y_test

In [ ]:
# Let's create a plotting function
def plot_pred(train_data=x_train,
              train_labels=y_train,
              test_data=x_test,
              test_labels=y_test,
              predictions=y_pred):
    """
    Plots training data, test data and compares prediction to ground truth
    """

    plt.figure(figsize=(10, 7))
    #Plot training data in blue
    plt.scatter(train_data, train_labels, c="b", label="Training data")

    # Plot training data in green
    plt.scatter(test_data, test_labels, c='g', label="Testing data")

    # Plot model's prediction
    plt.scatter(test_data, predictions, c='r', label="Predictions")

    plt.legend();

In [ ]:
plot_pred()

In [ ]:

plot_pred(x_train, y_train, x_test, y_test, y_pred)

#E Evaluting our model's predictions with regression evaluation metrics

mani matrics : 1. MAE - mean absolute error\n
               2. MSE - mean square error -> square the average error

In [ ]:
## Regression evaluation
model.evaluate(x_test, y_test)

In [ ]:
# Calcultate themean absolute error
tf.metrics.mean_absolute_error(tf.reshape(y_test, shape=(10, 1)), tf.reshape(y_pred, shape=(10, 1))).numpy()

In [ ]:
tf.squeeze(y_pred)

In [ ]:
tf.metrics.mean_absolute_error(y_test, tf.squeeze(y_pred))

In [ ]:
# Calcultaing the mean square error
tf.keras.losses.mean_squared_error(y_test, tf.squeeze(y_pred))

In [ ]:
tf.random.set_seed(42)

model2 = tf.keras.Sequential([
    tf.keras.layers.Dense(100, input_shape=[1], name='input_layer'),
    tf.keras.layers.Dense(100, activation=None, name='hiddin_layer'),
    tf.keras.layers.Dense(1, name='output_layer')
], name='model_1')

model2.compile(
    loss=tf.keras.losses.mean_squared_error,
    optimizer=tf.keras.optimizers.Adam(lr=0.1),
    metrics=['mean_squared_error']
)

In [ ]:
model2.evaluate(x_test, y_test)
y_pred = model2.predict(x_test)

In [ ]:
tf.keras.losses.mean_squared_error(y_test, tf.squeeze(y_pred))

In [ ]:
tf.metrics.mean_squared_error(y_test, tf.squeeze(y_pred))

In [ ]:
# Make some function to resue

def mae(y_true, y_pred):
    return tf.metrics.mean_absolute_error(y_true=y_true, y_pred=y_pred)

def mse(y_true, y_pred):
    return tf.metrics.mean_squared_error(y_true=y_true, y_pred=y_pred)

## tweak it

In [ ]:
# Set random seed
tf.random.set_seed(43)

model_1 = tf.keras.Sequential([
    tf.keras.layers.Dense(1)
])

model_1.compile(
    loss=tf.keras.losses.mae,
    optimizer=tf.keras.optimizers.SGD(),
    metrics=['mae']
)

model_1.fit(tf.expand_dims(x_train, axis=-1), y_train, epochs=100, verbose=0)

In [ ]:
y_pred_1 = model_1.predict(x_test)
plot_pred(predictions=y_pred_1)

In [ ]:
mae_1 = mae(y_test, tf.squeeze(y_pred_1))
mse_1 = mse(y_test, tf.squeeze(y_pred_1))

mae_1, mse_1

In [ ]:
## build model2
tf.random.set_seed(42)


model_2 = tf.keras.Sequential([
    tf.keras.layers.Dense(10),
    tf.keras.layers.Dense(1)
])

model_2.compile(
    loss=tf.keras.losses.mae,
    optimizer=tf.keras.optimizers.SGD(),
    metrics=['mse']
)

model_2.fit(tf.expand_dims(x_train, axis=-1), y_train, epochs=100, verbose=0)

In [ ]:
y_pred_2 = model_2.predict(x_test)
plot_pred(predictions=y_pred_2)

In [ ]:
mae_2 = mae(y_test, tf.squeeze(y_pred_2))
mse_2 = mse(y_test, tf.squeeze(y_pred_1))

mae_2, mse_2

In [ ]:
x_train, y_train

In [ ]:
model_2.predict([-100]), model_1.predict([-100])

###  Lets Try Model 3

In [ ]:
tf.random.set_seed(42)
model_3 = tf.keras.Sequential([
    tf.keras.layers.Dense(10),
    tf.keras.layers.Dense(1)
])

model_3.compile(
    loss=tf.keras.losses.mae,
    optimizer=tf.keras.optimizers.SGD(),
    metrics=["mse"]
)

model_3.fit(tf.expand_dims(x_train, axis=-1), y_train, epochs=500, verbose=0)

In [ ]:

y_pred_3 = model_3.predict(x_test)
plot_pred(predictions=y_pred_3)

In [ ]:
mse_3 = mse(y_test, tf.squeeze(y_pred))
mae_3 = mae(y_test, tf.squeeze(y_pred))

## Comparing our models

In [ ]:
import pandas as pd

model_results = [['Model_1', mae_1.numpy(), mse_1.numpy()], ['Model_2', mae_2.numpy(), mse_2.numpy()], ['Model_3', mae_3.numpy(), mse_3.numpy()]]

all_results = pd.DataFrame(model_results, columns=["model", 'mae', 'mse'])

In [ ]:
all_results

Looks lide model_2 performed the best

In [ ]:
model_2.summary()

ONe of your main goals should be to minimize the time between your experiments. The more experiments you do, the more things youll figure out which dont work and in turn get closer to figuing out what does work. Remember the machine learning preactioner's moto : "experiment, experiment, experiment".

# Tracking your experiments

ONe really good habit in ML is to track the results of your experiments.

Luckily, there are tools to help us!

1. TensorBoard - componet the tensorFlow library
2. Weights and Biases - tool for tracking all kinds of ml experiments

# Saving our models

In [ ]:
#save model using save model format

# model_2.save("Saved_Model/model_1_saveFormat")

In [ ]:
# model_2.save("Saved_Model/model_1_saveFormatHDF5.h5")

In [2]:
#Loading in the save model
import tensorflow as tf

In [3]:
load_saveModel_format = tf.keras.models.load_model('Saved_Model/model_1_saveFormat')
load_saveModel_format.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 10)                20

 dense_11 (Dense)            (None, 1)                 11

=================================================================
Total params: 31
Trainable params: 31
Non-trainable params: 0
_________________________________________________________________

In [4]:
load_saveModel_HDF5 = load_saveModel_HDF5 = tf.keras.models.load_model('Saved_Model/model_1_saveFormatHDF5.h5')
load_saveModel_HDF5.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 10)                20

 dense_11 (Dense)            (None, 1)                 11

=================================================================
Total params: 31
Trainable params: 31
Non-trainable params: 0
_________________________________________________________________

In [5]:
model_2_preds = model_2.predict(x_test)
loaded_model = load_saveModel_format.predict(x_test)

model_2_preds == loaded_model

NameError: name 'model_2' is not defined

In [6]:
loaded_h5model = load_saveModel_HDF5.predict(x_test)


model_2_preds == loaded_h5model

NameError: name 'x_test' is not defined

In [7]:
## Download a model from Google Colab

In [8]:
# A larger example
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
insurance = pd.read_csv('https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv')
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [10]:
# model = tf.keras.Seq....
insurance['sex'].dtype, insurance['age'].dtype

(dtype('O'), dtype('int64'))

In [11]:
insurance_temp = insurance
insurance_temp.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
insurance_one_hot = pd.get_dummies(insurance)
insurance_one_hot.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [13]:
# Create x and y values (featrues and labels)
# Create trainin and test sets
# Building a neural network

In [14]:
y = insurance_one_hot['charges']
# y = tf.constant(y)
insurance_one_hot.drop('charges', axis=1)
x = insurance_one_hot
# x = tf.constant(x)
x, y

(      age     bmi  children      charges  sex_female  sex_male  smoker_no  \
 0      19  27.900         0  16884.92400           1         0          0
 1      18  33.770         1   1725.55230           0         1          1
 2      28  33.000         3   4449.46200           0         1          1
 3      33  22.705         0  21984.47061           0         1          1
 4      32  28.880         0   3866.85520           0         1          1
 ...   ...     ...       ...          ...         ...       ...        ...
 1333   50  30.970         3  10600.54830           0         1          1
 1334   18  31.920         0   2205.98080           1         0          1
 1335   18  36.850         0   1629.83350           1         0          1
 1336   21  25.800         0   2007.94500           1         0          1
 1337   61  29.070         0  29141.36030           1         0          0

       smoker_yes  region_northeast  region_northwest  region_southeast  \
 0              1                 0                 0                 0
 1              0                 0                 0                 1
 2              0                 0                 0                 1
 3              0                 0                 1                 0
 4              0                 0                 1                 0
 ...          ...               ...               ...               ...
 1333           0                 0                 1                 0
 1334           0                 1                 0                 0
 1335           0                 0                 0                 1
 1336           0                 0                 0                 0
 1337           1                 0                 1                 0

       region_southwest
 0                    1
 1                    0
 2                    0
 3                    0
 4                    0
 ...                ...
 1333                 0
 1334                 0
 1335                 0
 1336                 1
 1337                 0

 [1338 rows x 12 columns],
 0       16884.92400
 1        1725.55230
 2        4449.46200
 3       21984.47061
 4        3866.85520
            ...
 1333    10600.54830
 1334     2205.98080
 1335     1629.83350
 1336     2007.94500
 1337    29141.36030
 Name: charges, Length: 1338, dtype: float64)

In [18]:
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'

In [17]:
insurance_model_1 = tf.keras.Sequential([
    tf.keras.layers.Dense(10),
    tf.keras.layers.Dense(1)
])

insurance_model_1.compile(
    loss=tf.keras.losses.mae,
    optimizer=tf.keras.optimizers.SGD(),
    metrics=['mae']
)

insurance_model_1.fit(x, y, epochs=100, verbose=0)

In [ ]:
insurance_model_1.predict(x[-1])

In [1]:
import sklearn

ModuleNotFoundError: No module named 'sklearn'